* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.time-select{
  margin-top: 20px;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  
}
.time-select_button{
  margin: 12px 51px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: rgb(104, 189, 189);
  border-radius: 50%;
 
}
.sound-picker button {
  border: none;
  height: 120px;
  width: 120px;
  padding: 30px;
  
}

.time-select button:hover {
  background: white;
  color: black; 
}

.button_listen{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 65px;
  margin-top: 80px;
  
}
.listen_water, .listen_free{
  width: 40px;
  height: 40px;
  margin-top: 20px;
  border-radius: 50%;
  cursor: pointer;
}
.listen_water, .listen_free:hover{
  border: 2px red;
}
.water{
  width: 40px;
  height: 40px;
  border-radius: 50%;
 
}
.tree{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.play{
  width: 40px;
  height: 40px;   
  position: absolute;
  z-index: -7;
  top: 374px;
  right: 54px;
  cursor: pointer;
}
.replay{
  position: absolute;
  top: 415px;
  right: 60px;
  cursor: pointer;
}
.player-container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  
}

.player-container svg {
  top: 350px;
  right: 35px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  transform:  rotate(-90deg);
  z-index: -10;
}
.player-container svg circle {
  transition: all 0.2s ease-in-out;
}
.time-display {
  color: rgb(104, 189, 189);
  position: absolute;
  font-size: 40px;
  top: 450px;
  right: 40px;
}

video {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: -10;
}

@media (max-width: 870px){
  .button_listen {
    margin-top: 20px;
}
.player-container svg {
  top: 236px;
 }
.play {
  width: 27px;
  height: 41px;
  top: 260px;
  right: 66px;  
}
.time-display {
  color: rgb(20, 29, 25);
  font-size: 40px;
  top: 337px;
  right: 40px;
}
.replay {
 top: 300px;
 }
}